/* CompanyLogin.css */
.company-login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .company-login-form {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; /* Form background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Set a maximum width for the form */
    width: 100%;
  }
  
  h2 {
    color: #333333; /* Header text color */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    color: #555555; /* Label text color */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc; /* Input border color */
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2ecc71; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #27ae60; /* Button background color on hover */
  }
  
  .error-message {
    color: #e74c3c; /* Error message text color */
    margin-top: 10px;
  }
  
  p {
    margin-top: 20px;
    color: #555555; /* Text color for additional information */
  }
  
  p a {
    color: #3498db; /* Link color */
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  